<footer class="unit-parent">
  <div class="container">
  <div class="content-container heading-one">
    <p>¶ <a href="https://vimeo.com/166639790" rel="noopener" target="_blank" data-link-text="Thank you">Thank you</a> to our amazing sponsors and partners.</p>
  </div>

  <div class="unit first">
    <h2 class="heading-two sponsors">Host:</h2>
      <ul>
        <li><a href="http://interaccess.org/" rel="noopener" target="_blank">InterAccess</a></li>
      </ul>
  </div>
  <div class="unit">
    <h2 class="heading-two sponsors">Sponsor:</h2>
      <ul>
        <li><a href="http://www.brucemaudesign.com/" rel="noopener" target="_blank">Bruce Mau Design</a></li>
      </ul>
  </div>

  <div class="unit">
    <h2 class="heading-two sponsors">Media Partners:</h2>
      <ul>
        <li><a href="http://www.creativeapplications.net/" rel="noopener" target="_blank">Creative Applications Network</a></li>
        <li><a href="https://walkerart.org/" rel="noopener" target="_blank">Walker Art Center</a></li>
        <li><a href="http://www.frontier.is/" rel="noopener" target="_blank">Frontier</a></li>
        <li><a href="http://theadcc.ca/" rel="noopener" target="_blank">Advertising & Design Club of Canada</a></li>
        <li><a href="http://canadiandesignresource.ca/" rel="noopener" target="_blank">The Canadian Design Resource</a></li>
      </ul>
  </div>
  </div>
</footer>
