{% assign speaker = include.speaker %}
{% assign searchimg = speaker.searchimg.size %}

{% capture searchQuery %}
  {% if searchimg %}
    {{ speaker.searchimg }}
  {% else %}
    {{ speaker.name }}
  {% endif %}
{% endcapture %}

{% if speaker.edition == 2016 %}
  <div class="speaker-unit">
    <header class="speak-unit-header">
      <h3 class="heading-two">¶ <span class="speaker-name" data-metaimage="{{ searchQuery | strip }}">{{ speaker.name }}</span><span class="speaker-location">, {{ speaker.location }}</span></h3>
      <div class="speaker-unit-meta heading-two">
        {% if speaker.website %}
          <div class="unit">
            ¶ <a class="website" href="{{ speaker.website }}" rel="noopener" data-link-text="{% if speaker.websitetext %}{{ speaker.websitetext }}{% else %}{{ speaker.website | remove_first: "http://" }}{% endif %}" target="_blank">
            {% if speaker.websitetext %}
              {{ speaker.websitetext }}
            {% else %}
              {{ speaker.website | remove_first: "http://" }}
            {% endif %}
            </a>
          </div>
        {% endif %}
        {% if speaker.twitter %}
           <div class="unit">
             ¶ <a class="website" href="{{ speaker.twitter }}"  rel="noopener" data-link-text="@{{ speaker.twitter | remove_first: "https://twitter.com/" }}"  target="_blank">@{{ speaker.twitter | remove_first: "https://twitter.com/" }}</a>
           </div>
        {% endif %}
      </div>
    </header>
    <div class="speaker-unit-content">
      {{ speaker.content }}
    </div>
  </div>
{% endif %}
