---
layout: default
---

<section class="content-container heading-one">
  <p>
    <span class="solid">¶</span> You are invited to join us if you are <a href="#">a professional</a><sup>6</sup> or recently graduated designer, artist, coder, writer, or editor who is keen on <a href="#">letters and language</a><sup>7</sup>. You yearn for a deeper grasp of <a href="#">typography across media</a><sup>8</sup> and its expressive potential <a href="#">beyond market trends</a><sup>9</sup>.
  </p>
</section>

<section class="content-container heading-one">
  <p>
    <span class="solid">¶</span> The <a href="#">$875 CAD fee</a><sup>10</sup> will cover the 4-day programme, our public event(s), <a href="#">coffee</a><sup>11</sup> and catered lunches. The school will accept <a href="#">applications until July 31</a><sup>12</sup>.
  </p>
</section>

<section class="content-container heading-one">
  <p>
    <span class="solid">¶</span> Learn from renowned professionals<sup>13</sup> and with an exciting mix of <a href="#">multidisciplinary practitioners</a><sup>14</sup>.
  </p>
</section>

<section class="speakers-container">
  <h1 class="section-title heading-two">¶ 1-Day-Masterclasses</h1>
  {% for speaker in site.program_masterclass %}
    <div class="speaker-unit">
      <header class="speak-unit-header">
        <span class="speaker-name" data-metaimage="
        {% assign searchimg = speaker.searchimg.size %}{% if searchimg %}
          {{ speaker.searchimg }}
        {% else %}
          {{ speaker.name }}
        {% endif %}
        ">{{ speaker.name }}</span><span class="speaker-location">, {{ speaker.location }}</span>
        <div class="speaker-unit-meta">
          {% if speaker.website %}
            <span class="website"><a href="{{ speaker.website }}" target="_blank">{{ speaker.website | remove_first: "http://" }}</a></span> — 
          {% endif %}
          {% if speaker.twitter %}
            <span class="twitter"><a href="{{ speaker.twitter }}" target="_blank">@{{ speaker.twitter | remove_first: "https://twitter.com/" }}</a></span>
          {% endif %}
        </div>
      </header>
      <div class="speaker-unit-content content-three">
        {{ speaker.content }}
      </div>
    </div>
  {% endfor %}
</section>

<section  class="speakers-container">
  <h1 class="section-title heading-two">¶ Lectures and Workshops</h1>
  {% for speaker in site.program_lectures_workshops %}
    <div class="speaker-unit">
      <header class="speak-unit-header">
        <span class="speaker-name" data-metaimage="
        {% assign searchimg = speaker.searchimg.size %}{% if searchimg %}
          {{ speaker.searchimg }}
        {% else %}
          {{ speaker.name }}
        {% endif %}
        ">{{ speaker.name }}</span><span class="speaker-location">, {{ speaker.location }}</span>
        <div class="speaker-unit-meta">
          {% if speaker.website %}
            <span class="website"><a href="{{ speaker.website }}" target="_blank">{{ speaker.website | remove_first: "http://" }}</a></span> — 
          {% endif %}
          {% if speaker.twitter %}
            <span class="twitter"><a href="{{ speaker.twitter }}" target="_blank">@{{ speaker.twitter | remove_first: "https://twitter.com/" }}</a></span>
          {% endif %}
        </div>
      </header>
      <div class="speaker-unit-content content-three">
        {{ speaker.content }}
      </div>
    </div>
  {% endfor %}
</section>

<section class="speakers-container">
  <h1 class="section-title heading-two">¶ Lectures</h1>
  {% for speaker in site.program_lectures %}
    <div class="speaker-unit">
      <header class="speak-unit-header">
        <span class="speaker-name" data-metaimage="
        {% assign searchimg = speaker.searchimg.size %}{% if searchimg %}
          {{ speaker.searchimg }}
        {% else %}
          {{ speaker.name }}
        {% endif %}
        ">{{ speaker.name }}</span><span class="speaker-location">, {{ speaker.location }}</span>
        <div class="speaker-unit-meta">
          {% if speaker.website %}
            <span class="website"><a href="{{ speaker.website }}" target="_blank">{{ speaker.website | remove_first: "http://" }}</a></span>
          {% endif %}
          {% if speaker.twitter %}
            — <span class="twitter"><a href="{{ speaker.twitter }}" target="_blank">@{{ speaker.twitter | remove_first: "https://twitter.com/" }}</a></span>
          {% endif %}

        </div>
      </header>
      <div class="speaker-unit-content content-three">
        {{ speaker.content }}
      </div>
    </div>
  {% endfor %}
</section>

<section class="content-container heading-one">
  <p>
    <span class="solid">¶</span> Our team is small but ambitious. Founded by <a href="#">Michèle Champagne</a><sup>14</sup>, <a href="#">Garry Ing</a><sup>15</sup> and <a href="#">Greg J. Smith</a><sup>16</sup>, the school draws on the the international careers and experiences <a href="#">designing, computing, writing and editing</a><sup>17</sup>, as well as <a href="#">teaching at universities</a><sup>18</sup> and <a href="#">developing custom educational programs</a><sup>19</sup>.
  </p>
</section>
