<footer class="unit-parent">
  <div class="container">
  <br />
  <br />
  <p>¶ Thank you to our sponsors and partners.</p>
  <div class="unit-group">
    <div class="unit">
      <h2>¶ HOST</h2>
      <ul class="horizontal">
        <li><img class="logo" width="180" height="100" src="/img/abz-interaccess.png" alt="InterAccess" /></li>
      </ul>
    </div>
    <div class="unit">
      <h2>¶ SPONSORS</h2>
      <ul class="horizontal">
        <li><img class="logo" width="180" height="100" src="/img/abz-bmd.png" alt="Bruce Mau Design" /></li>
      </ul>
    </div>
  </div>
  <div class="unit">
    <h2>¶ PARTNERS</h2>
    <ul class="horizontal">
      <li><img class="logo" width="180" height="100" src="/img/abz-can.png" alt="Creative Applications Network" /></li>
      <li><img class="logo" width="135" height="100" src="/img/abz-adcc.png" alt="Advertising & Design Club of Canada" /></li>
      <li><img class="logo" width="146" height="100" src="/img/abz-the-cdr.png" alt="The Canadian Design Resource" /></li>
    </ul>
  </div>
  </div>
</footer>

<div class="footnotes">
  <div class="container">
    <h2 class="visually-hidden" id="footnote-label">Footnotes</h2>
    <ol class="footnotes-list">
      <li id="footnotes">Footnotes are notes placed at the bottom of a page. They cite references or comment on a designated part of the text above it. <a href="#footnotes-ref" aria-label="Back to content">↩</a></li>
      
      <li id="css">Cascading Style Sheets <a href="#css-ref" aria-label="Back to content">↩</a></li>

      <li id="css-counters">CSS counters are, in essence, variables maintained by CSS whose values may be incremented by CSS rules to track how many times they're used. <a href="#css-counters-ref" aria-label="Back to content">↩</a></li>
    </ol>
  </div>
</div>

<div id="image-grid"></div>