<footer class="unit-parent">
  <div class="container">
  <section class="content-container heading-one">
    <p><span class="solid">¶</span> Thank you to our sponsors and partners.</p>
  </section>
  <div class="unit-group">
    <div class="unit">
      <h2 class="heading-two">¶ HOST</h2>
      <ul class="horizontal">
        <li><img class="logo" width="180" height="100" src="/img/abz-interaccess.png" alt="InterAccess" /></li>
      </ul>
    </div>
    <div class="unit">
      <h2 class="heading-two">¶ SPONSORS</h2>
      <ul class="horizontal">
        <li><img class="logo" width="180" height="100" src="/img/abz-bmd.png" alt="Bruce Mau Design" /></li>
      </ul>
    </div>
  </div>
  <div class="unit">
    <h2 class="heading-two">¶ PARTNERS</h2>
    <ul class="horizontal">
      <li><img class="logo" width="180" height="100" src="/img/abz-can.png" alt="Creative Applications Network" /></li>
      <li><img class="logo" width="135" height="100" src="/img/abz-adcc.png" alt="Advertising & Design Club of Canada" /></li>
      <li><img class="logo" width="146" height="100" src="/img/abz-the-cdr.png" alt="The Canadian Design Resource" /></li>
      <li><img class="logo" width="180" height="100" src="/img/abz-designedge.png" alt="Design Edge" /></li>
    </ul>
  </div>
  </div>
</footer>

<div class="footnotes">
  <div class="container" id="manifesto">

    {% include manifesto.html %}
<!--     <h2 class="visually-hidden" id="footnote-label">Footnotes</h2>
    <ol class="footnotes-list content-three">
      {% for footnote in site.footnotes %}
        <li>{{ footnote.content }}</li>
      {% endfor %}
    </ol> -->
  </div>
</div>

<div id="image-grid"></div>