<footer>
  <h2>A-B-Z-TXT HOST</h2>
  <ul class="horizontal">
    <li><img class="logo" width="180" height="100" src="/img/abz-interaccess.png" alt="InterAccess" /></li>
  </ul>
  <h2>A-B-Z-TXT PARTNERS</h2>
  <ul class="horizontal">
    <li><img class="logo" width="180" height="100" src="/img/abz-can.png" alt="Creative Applications Network" /></li>
    <li><img class="logo" width="135" height="100" src="/img/abz-adcc.png" alt="Advertising & Design Club of Canada" /></li>
    <li><img class="logo" width="146" height="100" src="/img/abz-the-cdr.png" alt="The Canadian Design Resource" /></li>
  </ul>
</footer>
