<nav class="navigation">
  <div class="navigation-container">
    <ul>
      <li><a class="navigation-item" href="#">P-r-o-g-r-a-m-m-e</a></li>
      <li><a class="navigation-item" href="http://goo.gl/forms/pAeSJs13aDiV4UrH2" target="_blank">¦¦ ¦¦ Apply Now ¦¦ ¦¦</a></li>
      <li><a class="navigation-item" href="https://twitter.com/abz_co" title="@abz_co on Twitter" target="_blank">±± @abz_co ±±</a></li>
    </ul>
  </div>
</nav>

<header class="header">
  <div class="container">
    <h1 class="heading-one">
      ¶ A-B-Z-txt<sup>1</sup> is a school for 21st century typography<sup>2</sup>. From August 18–21, 2016, <a href="https://goo.gl/maps/8rLYPd8jSWy" target="_blank">InterAccess in Toronto</a><sup>3</sup> will host letterforms, literature, code<sup>4</sup>, print and digital traditions as they blend into a post-digital terrain<sup>5</sup>.
    </h1>
  </div>
</header>
