<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <meta property="og:title" content="{{ site.title | escape }}" />
  <meta name="description" content="A-SCHOOL-FOR-21st-CENTURY-TYPOGRAPHY. TORONTO-INTERACCESS. AUG-18–21-2016." />
  <meta property="og:description" content="A-SCHOOL-FOR-21st-CENTURY-TYPOGRAPHY. TORONTO-INTERACCESS. AUG-18–21-2016." />
  <link rel="canonical" href="http://a-b-z.co/" />
  <meta property="og:url" content="http://a-b-z.co/" />
  <meta property="og:site_name" content="{{ site.title | escape }}" />
  <meta property="og:image" content="http://a-b-z.co/img/logo.png" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:site" content="@abz_co" />
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "A-B-Z",
      "headline": "A-B-Z",
      "image": "http://a-b-z.co/img/logo.png",
      "description": "A-SCHOOL-FOR-21st-CENTURY-TYPOGRAPHY. TORONTO-INTERACCESS. AUG-18–21-2016.",
      "logo": "http://a-b-z.co/img/logo.png",
      "url": "http://a-b-z.co/"
    }
  </script>

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
