<header class="header">
  <div class="container">
    <h1><a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}-TXT</a></h1>
    <h1><a href="https://goo.gl/maps/8rLYPd8jSWy" target="_blank">TORONTO-INTERACCESS</a></h1>
    <h1>AUG-18–21-2016</h1>
    <h2><a href="https://twitter.com/abz_co" title="@abz_co on Twitter" target="_blank">A-SCHOOL-FOR-21<sup>st</sup>-CENTURY-TYPOGRAPHY</a></h2>
  </div>
</header>

<nav class="navigation">
  <div class="navigation-container">
    <ul>
      <li><a class="navigation-item" href="#">P-r-o-g-r-a-m</a></li>
      <li><a class="navigation-item" href="#">¦¦¦¦ Apply ¦¦¦¦</a></li>
      <li><a class="navigation-item" href="https://twitter.com/abz_co" title="@abz_co on Twitter" target="_blank">@abz_co</a></li>
    </ul>
  </div>
</nav>
