<div id="manifesto"></div>
<div class="footernotes">
  <div class="container">
    <p>● All the great typography has already been designed. Type is not special any more. Today, we download free fonts, write our own code, publish on Medium, and print on demand. We copy from Pinterest and embrace easy Modernist look-a-likes. We revive calligraphy with an obsessive nostalgia for the cutesy 1950s. We even market handwriting as a stand-in for the human touch.</p>
    <p>● In the past, typography was a craft and could challenge the ethos of the era. But not any more. The best type years are behind us.</p>
    <p>● Or so they say.</p>
    <p>● In the 21st century, it takes courage to release new typographic species. We must resist trends. We must embrace the history of typography, language and literature. We must experiment with new thinking, tools, and techniques.</p>
    <p>● A-B-Z will celebrate this new century with leading practitioners, hands-on masterclasses, geeky lectures, group discussions, and far too much caffeine.</p>
    <p>● From books to magazines, websites and displays, typography dances across media. A-B-Z brings you a hybrid and critical program for play and debate.</p>
    <p>● <a href="https://twitter.com/abz_co" title="@abz_co on Twitter" rel="noopener" data-link-text="Come tango with us" target="_blank">Come tango with us</a>.</p>
  </div>
</div>