<nav class="navigation">
  <ul>
    <li><a class="navigation-item first" data-link-text="P-r-o-g-r-a-m-m-e" href="#programme" >P-r-o-g-r-a-m-m-e</a></li>
    <li><a class="navigation-item" data-link-text="¦¦ ¦¦ Apply Now ¦¦ ¦¦" title="A-B-Z-TXT Application Form" href="http://goo.gl/forms/pAeSJs13aDiV4UrH2" target="_blank">¦¦ ¦¦ Apply Now ¦¦ ¦¦</a></li>
    <li><a class="navigation-item last" data-link-text="±± @abz_co ±±" href="https://twitter.com/abz_co" title="@abz_co on Twitter" target="_blank">±± @abz_co ±±</a></li>
  </ul>
</nav>