<nav class="navigation">
  <ul class="container">
    <li><a class="navigation-item" data-link-text="> Joing Our Mailing List" title="A-B-Z-TXT Application Form" href="http://a-b-z.us13.list-manage.com/subscribe?u=94e8520ad1d5f12721f1a90d2&id=c9f70739bc" rel="noopener" target="_blank">> Joing Our Mailing List</a></li>
    <li><a class="navigation-item last" rel="noopener" data-link-text="> @abz_co" href="https://twitter.com/abz_co" title="@abz_co on Twitter" target="_blank">> @abz_co</a></li>
  </ul>
</nav>