.edition-first {
  left: 91vw;
  z-index: 5;
  width: 57.5vw;
  padding-right: 7.5vw;
  background: $accent-first;

  @media (max-width: $small-vp) {
    left: 0;
    padding-right: 0;
    width: 100vw;
    min-height: 10vh;
    padding: 0;
    bottom: 20vh;
    top: 80vh;
  }

  .header {
    margin-bottom: 0;
    padding: 0;
    justify-content: flex-start;
    min-height: unset;
    background: $accent-first;
  }

  &.panel-focus {
    left: 50vw;

    @media (max-width: $small-vp) {
      left: 0;
      top: 10vh;
    }
  }
}
