.edition-second {
  left: 83vw;
  z-index: 4;
  width: 57.5vw;
  padding-right: 16.5vw;
  background: $accent-second;

  .header {
    margin-bottom: 0;
    padding: 0;
    justify-content: flex-start;
    min-height: unset;
    background: $accent-second;
  }

  &.panel-focus {
    left: 50vw;
  }
}
