html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: 3vw;

  @media (max-width: $small-vp) {
    font-size: 1em;
  }
}

.apply-container {
  margin-top: 4em;
  margin-bottom: 4em;
  text-align: center;
}

p {
  @include ot-features;
}

ul {
  padding: 0;
  margin-top: 0;
  list-style: none;
}

.horizontal {
  display: flex;
  margin-top: 0.5em;

  @media (max-width: $small-vp) {
    flex-wrap: wrap;

    li {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .logo {
      display: flex;
      align-self: center;
    }
  }
}

// Selection
::-moz-selection {
  color: $black;
  text-shadow: none;
  background: #ff0;
}

::selection {
  color: $black;
  text-shadow: none;
  background: #ff0;
  @include outline-text(transparent, $text-color);
}

a::selection {
  color: transparent;
  @include outline-text($text-color, transparent);
}

// Links

a {
  color: $text-color;
  text-decoration: none;
  @include outline-text(transparent, $text-color);

  &:active {
    position: relative;
    z-index: 1;
    outline-width: 0.1em;
    outline-style: dashed;
    outline-color: $text-color;
    outline-offset: 0.1em;
  }
}

[data-link-text] {
  display: inline-block;
  -webkit-font-smoothing: antialiased;

  &:hover {
    color: transparent;
    transform: none;

    &::before {
      display: block;
    }
  }

  &::before {
    position: absolute;
    display: none;
    color: $text-color;
    content: attr(data-link-text);
    transform: skew(45deg);
    transform-origin: center center;
  }

  @media (max-width: $small-vp) {
    display: inline;

    &:hover {
      color: $text-color;

      &::before {
        display: none;
      }
    }
  }
}

.website {
  @media (max-width: $small-vp) {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
