html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 3% 7% 10%;
  font-family: $font-family;
  font-size: 3vw;

  @media (max-width: $small-vp) {
    font-size: 1em;
  }
}

p {
  @include ot-features;
}

ul {
  padding: 0;
  margin-top: 0;
  list-style: none;
}

.horizontal {
  margin-top: .5em;

  li {
    display: inline-block;
    & + li {
      margin-left: .5em;
    }
  }
}

// Selection
::-moz-selection {
  color: $white;
  text-shadow: none;
  background: $black;
}

::selection {
  color: $white;
  text-shadow: none;
  background: $black;
}

// Links

a {
  display: inline-block;
  color: $text-color;
  text-decoration: none;

  &:hover,
  &:focus {
    outline-style: dashed;
    outline-color: $black;
    transform: skew(45deg);
    transform-origin: bottom left;
  }
}
