:root {
  --ios-gap: 0px;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  @media (max-width: $small-vp) {
    overflow-x: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: $font-family;
  font-size: 1.6vw;
  line-height: 1.2em;

  @media (max-width: $small-vp) {
    overflow-x: hidden;
    font-size: 1em;
  }
}

p {
  @include ot-features;
}

ul {
  padding: 0;
  margin-top: 0;
  list-style: none;
}

address {
  font-style: normal;
}

.horizontal {
  display: flex;
  margin-top: 0.5em;

  @media (max-width: $small-vp) {
    flex-wrap: wrap;

    li {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-content: center;
    }

    .logo {
      display: flex;
      align-self: center;
    }
  }
}

// Selection
::-moz-selection {
  color: $black;
  text-shadow: none;
  background: #ff0;
}

::selection {
  color: $black;
  text-shadow: none;
  background: #ff0;
  @include outline-text(transparent, $text-color);
}

a::selection {
  color: transparent;
  @include outline-text($text-color, transparent);
}

// Links

a {
  color: inherit;
  text-decoration: underline;

  &:active {
    position: relative;
    z-index: 1;
    outline-width: 0.1em;
    outline-style: dashed;
    outline-color: $text-color;
    outline-offset: 0.1em;
  }

  &:hover {
    text-decoration: none;
  }
}

.website {
  @media (max-width: $small-vp) {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// Editions Panels Vertical Alignment

.section-panel  {
  .section-title {
    margin-bottom: 1.16em;
  }

  p {
    margin-bottom: $type-vertical-spacing;
    margin-top: $type-vertical-spacing;
  }

  ul {
    margin-bottom: $type-vertical-spacing;
  }
}
