[type="email"] {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 0 0.4vw $black;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  margin-left: -0.4vw;
  color: $black;
  cursor: pointer;
  background: $white;
  border: 0;
  border-radius: 0;
  box-shadow: inset 0 0 0 0.4vw $black;
  -webkit-appearance: none;
  flex-shrink: 0;

  &:hover {
    color: $white;
    background: $black;
  }
}

.form-item {
  padding: 0.85em 1em 1em;

  &:focus {
    position: relative;
    z-index: 1;
    outline-width: 0.4vw;
    outline-style: dashed;
    outline-color: $black;
    outline-offset: 1vw;
  }
}

.form-group {
  display: flex;
  align-items: baseline;
}
