.editions-container {
  display: flex;

  @media (max-width: $small-vp) {
    flex-wrap: wrap;
  }
}

.section-panel {
  overflow-x: scroll;
  position: relative;
  max-height: 100vh;
  max-width: 85vw;
  background: $white;
  transition: left 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-overflow-scrolling: touch;

  .heading-one {
    opacity: 0;
  }

  &.ready .heading-one {
    opacity: 1;
  }
}

.edition-current {
  padding-right: 15vw;

  @media (max-width: $small-vp) {
    padding-right: 0;
  }
}

.edition-first {
  position: fixed;
  left: 85vw;
  width: 55vw;
  z-index: 5;
  padding-right: 7.5vw;

  a {
    pointer-events: none;
  }

  @media (max-width: $small-vp) {
    display: none;
  }
}

.info {
  position: fixed;
  left: 92.5vw;
  width: 50vw;
  z-index: 10;

  @media (max-width: $small-vp) {
    position: relative;
    max-width: none;
    max-height: none;
    width: 100%;
    left: 0;
  }

  a {
    pointer-events: none;
  }

  .heading-one {
    @include outline-text($white, $black);

    a {
      color: $white;
      @include outline-text(transparent, $white);

      &:hover {
        color: transparent;
      }

      &:active {
        outline-color: $text-color;
      }
    }

    [data-link-text] {
      &::before {
        color: $white;
      }
    }

    p {
      margin-top: 0;
    }
  }

  .header {
    background: $black;
  }
}

.panel-focus {
  left: 45vw;

  a {
    pointer-events: auto;
  }

  &.info {
    left: 50vw;
  }
}

.container {
  padding: 0 7.25%;
}

.unit-group {
  display: flex;

  @media (max-width: $small-vp) {
    flex-wrap: wrap;
  }

  .first {
    margin-right: 35px;

    @media (max-width: $small-vp) {
      margin-right: 0;
    }
  }
}
