.editions-container {
  display: flex;
}

.panel {
  overflow-x: scroll;
  position: relative;
  max-height: 100vh;
  max-width: 90vw;
  background: $white;
  transition: left 500ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.edition-first {
  box-shadow: -4px 0 0 0 rgba($black, 0.2);
  position: fixed;
  left: 90vw;
  width: 50vw;
  z-index: 5;
}

.info {
  color: $white;
  box-shadow: -4px 0 0 0 rgba($black, 0.2);
  background: $black;
  position: fixed;
  left: 95vw;
  width: 50vw;
  z-index: 10;
  padding: 20vh 0 10vh;

  .solid {
    color: $white;
    @include outline-text(transparent, $white);
  }


  .heading-one {
    @include outline-text($white, $black);
  }

  a {
    color: $white;
    @include outline-text(transparent, $white);

    &:active {
      outline-color: $text-color;
    }
  }

  [data-link-text] {
    &::before {
      color: $white;
    }
  }
}

.panel-focus {
  left: 50vw;

  .container {
    opacity: 1;
  }
}

.container {
  padding-right: 4%;
  padding-left: 4%;
}

.unit-group {
  display: flex;

  @media (max-width: $small-vp) {
    flex-wrap: wrap;
  }

  .first {
    margin-right: 35px;

    @media (max-width: $small-vp) {
      margin-right: 0;
    }
  }
}