.editions-container {
  display: flex;
}

.edition {
  max-width: 50vw;
  max-height: 100vh;
  overflow-x: scroll;
  position: relative;
}

.container {
  padding-right: 2%;
  padding-left: 2%;
}

.unit-group {
  display: flex;

  @media (max-width: $small-vp) {
    flex-wrap: wrap;
  }

  .first {
    margin-right: 35px;

    @media (max-width: $small-vp) {
      margin-right: 0;
    }
  }
}