.info {
  top: 88vh;
  z-index: 7;
  width: 50vw;
  background: $black;
  color: $white;
  left: 0;

  a {
    pointer-events: none;
  }

  &.panel-focus {
    top: 10vh;

    a {
      pointer-events: auto;
    }

    .info-chars {
      display: inline;
    }
  }

  .panel-header {
    position: static;
    min-height: 12vh;
  }
}

.info-chars {
  display: none;
}

.mailinglist {
  color: $black;
  background: $accent-mailinglist;
  margin-left: 50vw;
  width: 25vw;
}

.twitter {
  color: $black;
  background: $accent-twitter;
  margin-left: 75vw;
  width: 25vw;
}