.info {
  top: 88vh;
  z-index: 7;
  width: 50vw;
  background: $black;
  color: $white;
  left: 0;

  &.panel-focus {
    top: 10vh;

    .info-chars {
      display: inline;
    }
  }

  .panel-header {
    position: static;
    min-height: 12vh;
    flex-grow: 1;

    a {
      min-height: 12vh;
    }
  }

  .container {
    width: 100%;

  }
}

.info-chars {
  display: none;
}

.mailinglist {
  color: $black;
  background: $accent-mailinglist;
  margin-left: 50vw;
  width: 25vw;

  a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
}

.twitter {
  color: $black;
  background: $accent-twitter;
  margin-left: 75vw;
  width: 25vw;

  a {
    text-decoration: none;
    display: flex;
    align-items: center
  }
}