.header {
  display: flex;
  min-height: 100vh;
  padding: 20vh 0 10vh;
  flex-direction: column;
  justify-content: flex-end;

  @media (max-width: $small-vp) {
    min-height: 87vh;
    padding: 10vh 0 5vh;
  }
}

.speak-unit-header {
  line-height: 1.2em;
}

.speakers-container {
  margin-top: 3.5em;

  .content-container + & {
    margin-top: 2.75em;
  }
}

.speaker-unit-meta a {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: bottom;

  &:hover {
    overflow: visible;
  }

  &[data-link-text]:hover::before {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.edition-current .speaker-unit-meta a {
  overflow: visible;

  @media (max-width: $small-vp) {
    width: 80%;
    overflow: hidden;
  }
}

.credits {
  p {
    margin: 0 0 1.5em;
  }
}

// 404 Page

.page-notfound {
  position: fixed;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 0 8.5%;
  flex-wrap: wrap;
  align-items: center;
  -webkit-font-smoothing: subpixel-antialiased;
}
