.edition-ltr {
  padding-right: 22.5vw;

  .header .container {
    padding-right: 6.8%;
  }

  @media (max-width: $small-vp) {
    padding-right: 0;

    .header span {
      margin: 0 !important;
    }
  }

  .heading-one {
    @include outline-text($accent-ltr, $white);
  }

  .heading-two {
    color: $accent-ltr;
  }

  a {
    font-family: $font-family-serif;
    color: $accent-ltr;
    @include outline-text(transparent, $accent-ltr);
    line-height: 0.9em;
    border-bottom: 2px solid $accent-ltr;

    &:active {
      outline-color: $accent-ltr;
    }
  }

  [data-link-text] {
    &::before {
      color: $accent-ltr;
    }
  }

  .solid {
    color: $accent-ltr;
    @include outline-text(transparent, $accent-ltr);
  }

  .edition-footer {
    color: $white;
    background: $accent-ltr;

    sup {
      color: $white;
    }
  }

  .speaker-unit,
  .section-title {
    color: $accent-ltr;

    a {
      text-decoration: none;
    }
  }

  .speaker-unit-content {
    a {
      border-width: 0;
      text-decoration: underline;
    }
  }
}