.navigation {
  position: fixed;
  display: flex;
  z-index: 6;
  top: 0;
  width: 85vw;
  justify-content: center;

  ul {
    margin: 0;
    width: 100%;
    padding: 0 7.25%;
    display: flex;

    li {
      flex-grow: 1;
      max-width: 33.3333333%;
    }
  }
}

.navigation-item {
  display: block;
  padding: 1em 0;
  justify-content: center;
  white-space: nowrap;
  position: relative;

  @media (max-width: $small-vp) {
    font-size: 0.90em;
  }

  &::before {
    width: 100%;
    text-align: center;
  }
}