.navigation {
  position: fixed;
  display: flex;
  z-index: 2;
  top: 0;
  width: 100%;
  justify-content: center;

  ul {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;

    li {
      flex-grow: 1;
      max-width: 50%;
    }
  }
}

.navigation-item {
  display: block;
  text-align: center;
  padding: 1em 0;
  font-size: 0.80em;
  justify-content: center;
  white-space: nowrap;
  position: relative;

  @media (max-width: $small-vp) {
    font-size: 0.90em;
  }

  &::before {
    width: 100%;
    text-align: center;
  }
}