.navigation {
  text-transform: uppercase;
  position: fixed;
  display: flex;
  z-index: 1;
  top: 0;
  width: 100%;
  justify-content: center;
  transition: font-size 300ms $easeOutBack;

  ul {
    margin: 0;
    display: flex;
    justify-content: space-around;

    li {
      flex-grow: 1;
      max-width: 33.3333333%;
    }
  }
}

.navigation-container {
  width: 100%;
}

.navigation-item {
  display: flex;
  padding: 2em 0 1em;
  font-size: 0.5em;
  justify-content: center;
}

.first {
  justify-content: flex-end;
  padding-right: 1em;
}

.last {
  justify-content: flex-start;
  padding-left: 1em;
}
