.edition-third {
  width: 75vw;
  background: $accent-third;
  padding-bottom: 12vh;

  .header {
    padding: 0;
    min-height: calc(88vh - 2em);
  }

  .heading-one {
    font-size: 2.5em;
    line-height: 1.2em;
    color: transparent;
    -webkit-font-smoothing: subpixel-antialiased;
    @include outline-text($black, $white);

    & + & {
      margin-top: 1.5em;
    }

    a {
      text-decoration: none;
      @include outline-text($text-color, transparent);
    }
  }

  a.btn {
    @include outline-text(transparent, transparent);
  }

  a[data-link-text] {
    color: $black;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    @include outline-text(transparent, transparent);

    &:hover {
      color: transparent;
      transform: none;

      &::before {
        display: block;
      }
    }

    &::before {
      position: absolute;
      display: none;
      color: $text-color;
      content: attr(data-link-text);
      transform: skew(45deg);
      transform-origin: center center;
    }

    @media (max-width: $small-vp) {
      display: inline;

      &:hover {
        color: $text-color;

        &::before {
          display: none;
        }
      }
    }
  }
}