// Normalized Font Weight
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  @include ot-features;
  margin: 0;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-size: inherit;
}

sup {
  font-size: 50%;
  color: $black;
  @include outline-text(transparent, $text-color);
}

.solid {
  color: $text-color;
  @include outline-text(transparent, $text-color);
}

.drop-cap {
  font-size: 1.5em;
  line-height: 0.59em;
  margin-left: -0.1em;
  vertical-align: sub;
}

.speaker-unit {
  margin-bottom: 1.95em;

  @media (min-width : $small-vp) and (max-width : 1024px) {
    margin-bottom: 1.7em;
  }


  @media (max-width: $small-vp) {
    margin-bottom: 2em;
  }
}

.speaker-unit-content {
  max-width: 50vw;

  @media (min-width : $small-vp) and (max-width : 1024px) {
    max-width: 60vw;
  }

  @media (max-width: $small-vp) {
    max-width: none;
  }
}

.section-title {
  margin-bottom: 1em;
  line-height: 1.2em;
}

// no bottom margin

.nbm {
  margin-bottom: 0;
}

// spacer

.spacer {
  display: inline-block;
  width: 2em;

  @media (max-width: $small-vp) {
    display: none;
  }
}
