// Opentype Mixin

%ot-features {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

// Normalized Font Weight
h1, h2, h3, h4, h5, h6, strong, b {
  @extend %ot-features;
  font-weight: normal;
  margin: 0;
}

h1, h2, .small {
  font-size: 0.5em;

  @media (max-width: $small-vp) {
    font-size: 0.75em;
  }
}

.line-up {
  font-size: 1.89em;
  line-height: 1.25em;

  @media (max-width: $small-vp) {
    a {
      width: 100%;
    }
  }
}