// Opentype Mixin

@mixin ot-features {
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "alt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

// Normalized Font Weight
h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  @include ot-features;
  margin: 0;
  font-weight: normal;
}

sup {
  font-size: 50%;
}

.heading-one {
  font-size: 1.5em;
  line-height: 1.2em;

  @media (max-width: $small-vp) {
    font-size: 0.75em;
  }
}

.heading-two {
  font-size: 1em;
}

.content-three {
  font-size: 0.5em;
  line-height: 1.3em;
}

.section-title {
  margin-bottom: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
}
