@mixin outline-text($color, $moz-fallback: $color) {
  -webkit-text-stroke-width: 1px;
  -moz-text-stroke-width: 1px;
  -webkit-text-stroke-color: $color;
  -moz-text-stroke-color: $color;

  @media (max-width: $small-vp) {
    -webkit-text-stroke-width: .5px;
    -moz-text-stroke-width: .5px;
  }
}

.inline-outline {
  @include outline-text($black, $white);
  color: transparent;
}

[data-link-text]:hover {
  .inline-outline {
    display: none;
  }
}
