@mixin outline-text($color, $moz-fallback: $color) {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: $color;

  @media (max-width: $small-vp) {
    -webkit-text-stroke-width: .5px;
  }

  @supports not ((-webkit-text-stroke: 1px $color)) {
    color: $moz-fallback;
    text-shadow: 1px 1px 0 $color, -1px -1px 0 $color, 1px -1px 0 $color,
            -1px 1px 0 $color;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  visibility: hidden;
  opacity: 0;
}

.inline-outline {
  @include outline-text($black, $white);
  color: transparent;
}

[data-link-text]:hover {
  .inline-outline {
    display: none;
  }
}
