// Font Family
$font-family: 'PxGroteskRegular', 'Helvetica Neue', Helvetica, sans-serif;

// Color
$black: #000;
$white: #fff;
$text-color: #000;

$accent: #80c48b;

// Breakpoints
$small-vp: 568px;
$smallest-vp: 320px;

// Easing
$easeOutBack: cubic-bezier(0.175, 0.885, 0.32, 1.275);