// Font Family
$font-family: 'PxGroteskRegular', 'Helvetica Neue', Helvetica, sans-serif;
$font-family-serif: 'Times New Roman', Times, serif;

// Color
$black: #000;
$white: #fff;
$text-color: #000;

$accent-first: #54bb8c;
$accent-second: #a3f0b7;
$accent-ltr: #2046a9;

// Breakpoints
$small-vp: 568px;
$smallest-vp: 320px;
