// Font Family
$font-family: 'PxGroteskRegular', 'Helvetica Neue', Helvetica, sans-serif;

// Color
$black: #000;
$white: #fff;
$text-color: #000;

$accent-first: #54bb8c;
$accent-second: #a3f0b7;
$accent-ltr: #23A334;
$accent-third: #E3FDBD;

$accent-about: #16CB68;
$accent-mailinglist: #11997A;
$accent-twitter: #C8DD3B;

// Breakpoints
$small-vp: 568px;
$smallest-vp: 320px;
