{% include 2017-ltr/header.html %}

<div class="container">
  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> With author {% include link.html text="Daniel Canty" url="http://danielcanty.com/" %} and co-presented by {% include link.html text="Artexte" url="https://www.artexte.ca/" %}, the course plays with the alphabetic and {% include link.html text="epistolary" url="http://www.bbc.co.uk/programmes/b00775dh" %} forms of {% include link.html text="letters" url="https://www.instagram.com/p/BZewuDOgiU5/" %} as tools for inviting dialogue about design and technology. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> On December 11, the course offers a public {% include link.html text="salon" url="https://en.wikipedia.org/wiki/Salon_(gathering)" %}. Students will read opinion letters out loud and a lively panel of reactionaries will join the conversation. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> Salon performance, en français, École de design, Espace diffusion, 3rd floor, December 11, 2017, 6–8pm. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>


  <section  class="speakers-container">
    <header class="heading-container">
      <h2 class="section-title heading-two"><span class="solid">></span> Lively panelists:</h2>
    </header>
    {% for speaker in site.program_panelist %}
      {% include 2017-ltr/speaker-unit.html speaker=speaker %}
    {% endfor %}
  </section>

  <section class="speakers-container">
    <header class="heading-container">
      <h2 class="section-title heading-two"><span class="solid">></span> Hostess:</h2>
    </header>
    {% for speaker in site.program_host %}
      {% include 2017-ltr/speaker-unit.html speaker=speaker %}
    {% endfor %}
  </section>
</div>

{% include 2017-ltr/footer.html %}
