{% include 2017/header.html %}

<div class="container">
  <div class="content-container heading-one">
    <p>
      <span class="solid drop-cap">●</span> If you are a professional designer :: artist :: coder :: writer :: or :: editor :: join us for typographic feats across the media heap :: and :: beyond the commercial cliché.
    </p>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid drop-cap">●</span> The $675 Cdn fee will cover :: the 4-day intensive school :: and :: lots and lots :: of coffee :: A-B-Z-TXT will accept applications until :: July 7th.
    </p>
  </div>

  <div class="content-container apply-container">
    <p>
      <a href="http://goo.gl/forms/pAeSJs13aDiV4UrH2" rel="noopener" class="btn form-item" target="_blank" title="A-B-Z-TXT Application Form">● ● APPLY NOW ● ●</a>
    </p>
    <div id="programme"></div>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid drop-cap">●</span> Learn from :: noted creatives :: and with an lively mix of :: fuzzy :: disciplines.
    </p>
  </div>

  <section class="speakers-container">
    <header class="heading-container">
      <h2 class="section-title heading-two"><span class="solid">●</span> Talk and Masterclass</h2>
    </header>
    {% for speaker in site.program_masterclass %}
      {% if speaker.edition == 2017 %}
      <div class="speaker-unit">
        <header class="speak-unit-header">
          <h3 class="heading-two"><span class="speaker-name" data-metaimage="
          {% assign searchimg = speaker.searchimg.size %}{% if searchimg %}
            {{ speaker.searchimg }}
          {% else %}
            {{ speaker.name }}
          {% endif %}
          ">{{ speaker.name }}</span><span class="speaker-location">, {{ speaker.location }}</span></h3>
          <div class="speaker-unit-meta heading-two">
            {% if speaker.website %}
              <a class="website" href="{{ speaker.website }}" rel="noopener" data-link-text="{{ speaker.website | remove_first: "http://" }}" target="_blank">{{ speaker.website | remove_first: "http://" }}</a>
            {% endif %}
            {% if speaker.twitter %}
               — <span class="twitter"><a class="website" href="{{ speaker.twitter }}"  rel="noopener" data-link-text="@{{ speaker.twitter | remove_first: "https://twitter.com/" }}"  target="_blank">@{{ speaker.twitter | remove_first: "https://twitter.com/" }}</a></span>
            {% endif %}
          </div>
        </header>
        <div class="speaker-unit-content content-three">
          {{ speaker.content }}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </section>

  <section  class="speakers-container">
    <header class="heading-container">
      <h2 class="section-title heading-two"><span class="solid">●</span> Talk and Workshop</h2>
    </header>
    {% for speaker in site.program_lectures_workshops %}
      {% if speaker.edition == 2017 %}
      <div class="speaker-unit">
        <header class="speak-unit-header">
          <h3 class="heading-two"><span class="speaker-name" data-metaimage="
          {% assign searchimg = speaker.searchimg.size %}{% if searchimg %}
            {{ speaker.searchimg }}
          {% else %}
            {{ speaker.name }}
          {% endif %}
          ">{{ speaker.name }}</span><span class="speaker-location">, {{ speaker.location }}</span></h3>
          <div class="speaker-unit-meta heading-two">
            {% if speaker.website %}
              <a class="website" href="{{ speaker.website }}" rel="noopener" data-link-text="{{ speaker.website | remove_first: "http://" }}" target="_blank">{{ speaker.website | remove_first: "http://" }}</a>
            {% endif %}
            {% if speaker.twitter %}
              — <span class="twitter"><a class="website" href="{{ speaker.twitter }}" rel="noopener" data-link-text="@{{ speaker.twitter | remove_first: "https://twitter.com/" }}" target="_blank">@{{ speaker.twitter | remove_first: "https://twitter.com/" }}</a></span>
            {% endif %}
          </div>
        </header>
        <div class="speaker-unit-content content-three">
          {{ speaker.content }}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </section>

  <section class="speakers-container">
    <header class="heading-container">
      <h2 class="section-title heading-two"><span class="solid">●</span> Talks</h2>
    </header>
    {% for speaker in site.program_lectures %}
      {% if speaker.edition == 2017 %}
      <div class="speaker-unit">
        <header class="speak-unit-header">
          <h3 class="heading-two"><span class="speaker-name" data-metaimage="
          {% assign searchimg = speaker.searchimg.size %}{% if searchimg %}
            {{ speaker.searchimg }}
          {% else %}
            {{ speaker.name }}
          {% endif %}
          ">{{ speaker.name }}</span><span class="speaker-location">, {{ speaker.location }}</span></h3>
          <div class="speaker-unit-meta heading-two">
            {% if speaker.website %}
              <a class="website" href="{{ speaker.website }}" rel="noopener" data-link-text="{{ speaker.website | remove_first: "http://" }}" target="_blank">{{ speaker.website | remove_first: "http://" }}</a>
            {% endif %}
            {% if speaker.twitter %}
              — <span class="twitter"><a class="website" href="{{ speaker.twitter }}" rel="noopener" data-link-text="@{{ speaker.twitter | remove_first: "https://twitter.com/" }}" target="_blank">@{{ speaker.twitter | remove_first: "https://twitter.com/" }}</a></span>
            {% endif %}
          </div>
        </header>
        <div class="speaker-unit-content content-three">
          {{ speaker.content }}
        </div>
      </div>
      {% endif %}
    {% endfor %}
  </section>

  <div class="content-container apply-container">
    <p>
      <a href="http://goo.gl/forms/pAeSJs13aDiV4UrH2" rel="noopener" class="btn form-item" target="_blank" title="A-B-Z-TXT Application Form">● ● APPLY NOW ● ●</a>
    </p>
  </div>
</div>

{% include 2017/footer.html %}