{% include 2017-ltr/header.html %}

<div class="container">
  <div class="content-container heading-one first">
    <p>
      <span class="solid">&lt;p&gt;</span> Led by designer and guest professor {% include link.html text="Michèle Champagne" url="http://michelechampagne.com/" %}, with author {% include link.html text="Daniel Canty" url="http://danielcanty.com/" %}, and co-presented by {% include link.html text="Artexte" url="https://www.artexte.ca/" %}, A-B-Z-LTR plays with {% include link.html text="letters" url="https://www.instagram.com/p/BZewuDOgiU5/" %} as tools for inviting {% include link.html text="dialogue" url="https://www.readingdesign.org/the-pnyx-and-the-agora" %} about  {% include link.html text="design" url="http://designtunes.org/" %} and {% include link.html text="technology" url="https://www.theguardian.com/commentisfree/2016/apr/24/the-new-feudalism-silicon-valley-overlords-advertising-necessary-evil" %}. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> A-B-Z-LTR students correspond within <a href="#collection" rel="noopener" data-link-text="The Collection">The Collection</a><span style="margin-right:10px">,</span> a fictional literary terrain in <a href="https://mitpress.mit.edu/books/stack" rel="noopener" data-link-text="The Stack" target="_blank"><em>The Stack</em></a> {% include link.html text="dominated" url="https://www.nytimes.com/2017/04/22/opinion/sunday/is-it-time-to-break-up-google.html?mcubz=0" %} by Alphabook, a merger between {% include link.html text="Alphabet" url="https://www.theguardian.com/technology/2017/oct/21/google-urban-cities-planning-data" %} and {% include link.html text="Facebook" url="https://www.lrb.co.uk/v39/n16/john-lanchester/you-are-the-product" %}. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> On {% include link.html text="December 11th" url="https://en.wikipedia.org/wiki/December_11" %}, The Collection launches a {% include link.html text="public salon" url="https://en.wikipedia.org/wiki/Salon_(gathering)" %} given {% include link.html text="in French" url="https://youtu.be/flc9fx39ETU" %}. Students will {% include link.html text="read" url="https://www.penguinrandomhouse.com/books/317083/a-history-of-reading-by-alberto-manguel/9780143126713/" %} their opinion letters out <span style="margin-right:40px;">loud</span> and lettered luminaries will join the intellectual {% include link.html text="ping pong" url="https://www.youtube.com/watch?v=JFQ4P26MOlg" %}. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> Public salon {% include link.html text="in French" url="https://www.youtube.com/watch?v=kf6DjBFx69c" %}. December 11th, 2017, 6–9pm. Free entry. Free coffee. {% include link.html text="École de design" url="https://design.uqam.ca/" %}, Espace diffusion, 3rd floor. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> {% include link.html text="Thank you" url="https://vimeo.com/166639790" %} to our amazing lettered luminaries. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>

  <section  class="speakers-container">
    {% for speaker in site.program_panelist %}
      {% include 2017-ltr/speaker-unit.html speaker=speaker %}
    {% endfor %}
  </section>
</div>

<div class="container">
  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> {% include link.html text="Thank you" url="https://vimeo.com/166639790" %} to our amazing partners. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>
</div>

{% include 2017-ltr/footer.html %}
