{% include 2017-ltr/header.html %}

<div class="container">
  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> With author {% include link.html text="Daniel Canty" url="http://danielcanty.com/" %}, designer {% include link.html text="Michèle Champagne" url="http://michelechampagne.com/" %}, and co-presented by {% include link.html text="Artexte" url="https://www.artexte.ca/" %}, the journey plays with {% include link.html text="alphabetic" url="https://www.instagram.com/p/BZewuDOgiU5/" %} and {% include link.html text="epistolary" url="http://www.bbc.co.uk/programmes/b00775dh" %} {% include link.html text="letters" url="https://www.instagram.com/p/BZewuDOgiU5/" %} as tools for juggling {% include link.html text="dialogue" url="https://www.readingdesign.org/the-pnyx-and-the-agora" %} about design and {% include link.html text="technology" url="https://www.theguardian.com/commentisfree/2016/apr/24/the-new-feudalism-silicon-valley-overlords-advertising-necessary-evil" %}. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> Students correspond freely within <a href="#collection" rel="noopener" data-link-text="The Collection">The Collection</a>, a fictional terrain in <a href="https://mitpress.mit.edu/books/stack" rel="noopener" data-link-text="The Stack" target="_blank"><em>The Stack</em></a> {% include link.html text="dominated" url="http://www.jontaplin.com/the-book/" %} by Alphabook, a merger between {% include link.html text="Alphabet" url="https://www.theguardian.com/technology/2017/oct/21/google-urban-cities-planning-data" %} and {% include link.html text="Facebook" url="https://www.lrb.co.uk/v39/n16/john-lanchester/you-are-the-product" %}. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> On {% include link.html text="December 11th" url="https://en.wikipedia.org/wiki/December_11" %}, The Collection launches a {% include link.html text="public salon" url="https://en.wikipedia.org/wiki/Salon_(gathering)" %}—in French. Students will read letters out loud and a panel of lettered luminaries will join the intellectual ping pong. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>

  <div class="content-container heading-one">
    <p>
      <span class="solid">&lt;p&gt;</span> Salon, in French, {% include link.html text="École de design" url="https://design.uqam.ca/" %}, Espace de diffusion, 3rd floor, December 11, 2017, 6–8pm. <span class="solid">&lt;/p&gt;</span>
    </p>
  </div>


  <section  class="speakers-container">
    <header class="heading-container">
      <h2 class="section-title heading-two"><span class="solid">></span> Lettered luminaries:</h2>
    </header>
    {% for speaker in site.program_panelist %}
      {% include 2017-ltr/speaker-unit.html speaker=speaker %}
    {% endfor %}
  </section>
</div>

{% include 2017-ltr/footer.html %}
