<footer class="unit-parent">
  <div class="container">
    <div class="unit first">
      <ul>
        <li><a href="https://uqam.ca/" rel="noopener" target="_blank">École de design</a>, UQAM</li>
        <li><a href="https://artexte.ca/en/" rel="noopener" target="_blank">Artexte</a></li>
        <li><a href="http://dispatchcoffee.ca/" rel="noopener" target="_blank">Dispatch</a></li>
      </ul>
    </div>
  </div>
</footer>

<div id="collection">
  <div class="container">
    <p>&lt;p&gt; To launch LTR, the following invitation letter was sent to students. &lt;/p&gt;</p>
    &lt;h1&gt;Salonnière Michhham et<br>
    Dan Can 3000<br>
    A–B–Z–LTR<br>
    Recueil de Lettres&lt;/h1&gt;<br>
    &lt;br&gt;<br>
    &lt;br&gt;<br>
    &lt;p&gt;11 septembre 2017<br>
    &lt;br&gt;<br>
    Groupe de candidatas<br>
    Université du Québec à Montréal<br>
    École de design<br>
    DES5214 Typographisme : associations<br>
    &lt;br&gt;<br>
    &lt;br&gt;<br>
    &lt;br&gt;<br>
    &lt;br&gt;<br>
    &lt;br&gt;<br>
    Cher candidatas,<br>
    &lt;br&gt;<br>
    Il y a trop de fausses conceptions de la réalité. Il y a trop de fausses conceptions d’où nous venons, d’où nous en sommes et d’où nous allons. Des décennies après l’invention de l’Internet et du Web, les nations et leurs populations ont continué de considérer ce domaine comme une réalité virtuelle future, une nouvelle interface détachée de la Terre Gutenberg et de ses socio-technologies imprimées.<br>
    &lt;br&gt;<br>
    Néanmoins, certains développements récents nous permettent d’espérer. Finalement, les populations ont découvert que la computation a une longue histoire, que l’Internet et le Web sont des extensions de la Terre Gutenberg et que les interventions littéraro-numériques peuvent y avoir de sérieuses implications géopolitiques. Le Web n’est pas un second Royaume séparé de l’infrastructure en surface. Le Web est un paysage — virtuel et matériel, vrai et faux — un élément clé du Mille-Feuille que nous habitons. La nation vit dans Le Mille-Feuille et Le Mille-Feuille vit dans la nation.<br>
    &lt;br&gt;<br>
    Dans Le Mille-Feuille, l’imprimé et le numérique s’hybrident de manière incontrôlable et la région du Recueil de Lettres émerge des cendres. À l’heure actuelle, leurs relations sont participatives, complexes, hors contrôle.<br>
    &lt;br&gt;<br>
    Vous êtes invités à rejoindre le chaos. Vous êtes invités à rejoindre le Recueil de Lettres.<br>
    &lt;br&gt;<br>
    La région du Recueil s’oppose à la propriété intellectuelle privée: tout y est réciproque, tout y circule et s’y échange. L’Internet, à l’origine imaginé comme un espace académique et militaire, est devenu, dans sa représentation idéale, un espace libre et populaire. Aujourd’hui, par contre, l’Internet est aussi devenu un outil de contrôle et de monétisation. Ancré dans l’Internet, on trouve la World Wide Web où le Soi-Même<sup>MD</sup> est une marque déposée et exploitée pour des données par Alphabook – une fusion entre Alphabet et Facebook – le réseau supra-souverain du Mille-Feuille durant l’ère de la Grand Monopole. Le Recueil, lui, tente de se libérer de l’emprise d’Alphabook.<br>
    &lt;br&gt;<br>
    Vous êtes invités à accéder au Recueil de Lettres en tant que citoyen. Votre citoyenneté implique un engagement à se conformer au protocole du Recueil.<br>
    &lt;br&gt;<br>
    Pour des résultats participatifs optimaux, vous devez exécuter les exercices requis et travailler avec le Protocole. Y inclus: une identité visuelle stricte, en noir et blanc seulement, et avec Times New Roman (régulier et italique), la police par défaut de la navigation du Mille-Feuille. Pour exprimer votre identité, vous travaillerez avec l’Archive : une banque d’éléments graphiques et de formats de communication standardisés et open source. À travers une série d’exercices graphiques et littéraires, vous allez contribuer à l’Archive. À travers des contraintes, vous allez redécouvrir votre place dans le Mille-Feuille.<br>
    &lt;br&gt;<br>
    Vous deviendrez la contrainte. Vous deviendrez le chaos. Vous deviendrez la divergence. Vous deviendrez la créativité.<br>
    &lt;br&gt;<br>
    &lt;br&gt;<br>
    &lt;br&gt;<br>
    Bien à vous,<br>
    Salonnière Michhham et Dan Can 3000&lt;/p&gt;
    <br>
    <br>
  </div>
</div>