<header class="header">
  <div class="container">
    <h1 class="heading-one">
      <span class="solid">&lt;p&gt;</span> A-B-Z-LTR is a <a href="https://en.wikipedia.org/wiki/2017" rel="noopener" data-link-text="2017" target="_blank">2017</a> Bachelor course at <a href="https://design.uqam.ca/" rel="noopener" data-link-text="École de design" target="_blank">École de design</a> at <a href="https://design.uqam.ca/" rel="noopener" data-link-text="UQÀM" target="_blank">UQÀM</a> in <a href="https://www.nytimes.com/2017/02/10/travel/leonard-cohen-musician-montreal-canada.html" rel="noopener" data-link-text="Montréal" target="_blank">Montréal</a>. <span class="solid">&lt;/p&gt;</span>
    </h1>
  </div>
</header>
