{% assign speaker = include.speaker %}
{% assign searchimg = speaker.searchimg.size %}

{% capture searchQuery %}
  {% if searchimg %}
    {{ speaker.searchimg }}
  {% else %}
    {{ speaker.name }}
  {% endif %}
{% endcapture %}

{% if speaker.edition == 2017.1 %}
  <div class="speaker-unit">
    <header class="speak-unit-header">
      <h3 class="heading-two"><span class="speaker-name" data-metaimage="{{ searchQuery | strip }}">{{ speaker.name }}</span>
      </h3>
    </header>
    <div class="speaker-unit-content">
      {{ speaker.content }}
    </div>
  </div>
{% endif %}
