{% assign speaker = include.speaker %}
{% assign searchimg = speaker.searchimg.size %}

{% capture searchQuery %}
  {% if searchimg %}
    {{ speaker.searchimg }}
  {% else %}
    {{ speaker.name }}
  {% endif %}
{% endcapture %}

{% if speaker.edition == 2018 %}
  <div class="speaker-unit">
    <header class="speak-unit-header heading-one">
      {% if speaker.topic1 %}
        <h3 class="heading-two"><span class="solid">±</span> {{ speaker.topic1 }}</h3>
      {% endif %}
      <h3 class="heading-two"><span class="solid">±</span>
        {% if speaker.website %}<a class="website speaker-name" href="{{ speaker.website }}" rel="noopener" data-link-text="{{ speaker.name }}" data-metaimage="{{ searchQuery | strip }}" target="_blank">
            {{ speaker.name }}
          </a>{% else %}<span class="speaker-name" data-metaimage="{{ searchQuery | strip }}">{{ speaker.name }}</span>{% endif %}</h3>
      <h3 class="heading-two">
        <span class="solid">±</span> {{ speaker.location }}
      </h3>
      {% if speaker.website2 %}
        <h3 class="unit heading-two">
          <span class="solid">±</span> <a class="website" href="{{ speaker.website2 }}" rel="noopener" data-link-text="{% if speaker.websitetext2 %}{{ speaker.websitetext2 }}{% else %}{{ speaker.website2 | remove_first: "http://" }}{% endif %}" target="_blank">{% if speaker.websitetext2 %}{{ speaker.websitetext2 }}{% else %}{{ speaker.website2 | remove_first: "http://" }}{% endif %}</a>
        </h3>
      {% endif %}
      {% if speaker.website3 %}
        <h3 class="unit heading-two">
          <span class="solid">±</span> <a class="website" href="{{ speaker.website3 }}" rel="noopener" data-link-text="{% if speaker.websitetext3 %}{{ speaker.websitetext3 }}{% else %}{{ speaker.website3 | remove_first: "http://" }}{% endif %}" target="_blank">{% if speaker.websitetext3 %}{{ speaker.websitetext3 }}{% else %}{{ speaker.website3 | remove_first: "http://" }}{% endif %}</a>
        </h3>
      {% endif %}
      {% if speaker.twitter %}
        <h3 class="unit heading-two">
           <span class="solid">±</span> <a class="website" href="{{ speaker.twitter }}" rel="noopener" data-link-text="@{{ speaker.twitter | remove_first: "https://twitter.com/" }}" target="_blank">@{{ speaker.twitter | remove_first: "https://twitter.com/" }}</a>
        </h3>
      {% endif %}
    </header>
    <div class="speaker-unit-content">
      {{ speaker.content }}
    </div>
  </div>
{% endif %}
