<!DOCTYPE html>
<!--
      ____________________________
     !\_________________________/!\
     !!                         !! \
     !!                         !!  \
     !!                         !!  !
     !!                         !!  !
     !!        A-B-Z-LUM        !!  !
     !!                         !!  !
     !!                         !!  !
     !!                         !!  /
     !!_________________________!! /
     !/_________________________\!/
        __\_________________/__/!_
       !_______________________!/ )
     ________________________    (__
    /oooo  oooo  oooo  oooo /!   _  )_
   /ooooooooooooooooooooooo/ /  (_)_(_)
  /ooooooooooooooooooooooo/ /    (o o)
 /C=_____________________/_/    ==\o/==

MONTRÉAL-ARTEXTE
MAY-24–25-2019

@abz_co

-->
<html lang="en">
  {% include head.html %}
  <body>
    <main class="editions-container">
      {{ content }}
    </main>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-H7Z54Q2V8R"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-H7Z54Q2V8R');
    </script>
    {% if page.title != 404 %}
      <script src="js/main.js?{{site.time | date: '%s%N'}}" async></script>
    {% endif %}
  </body>
</html>
