<!DOCTYPE html>
<!--
     __________________
    |             .__. |
    | A-B-Z-LTR   |  | |
    |             '""' |
    |           -.,-_  |
    |__________________|

          ____________
         /     _.'\   \
        /   _.'    \   \
       /_.-'        \___\
      |\_\ ``   .-   \ _/|
      |  _\___________.  |
      | /              \ |
      |/                \|
      |__________________|

Montréal
DEC-11-2017

@abz_co

-->
<html lang="en">
  {% include head.html %}
  <body>
    <main class="editions-container">
      {{ content }}
    </main>
    <script>
      window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
      ga('create','UA-77755061-1','auto');ga('send','pageview')
    </script>
    <script src="https://www.google-analytics.com/analytics.js" async defer></script>
    {% if page.title != 404 %}
      <script src="js/main.js" async></script>
    {% endif %}
  </body>
</html>
