<footer class="unit-parent">
  <div class="container">
  <div class="content-container heading-one">
    <p><span class="drop-cap">●</span> <a href="https://vimeo.com/166639790" target="_blank" rel="noopener" data-link-text="Thank you">Thank you</a> to our {% include link.html text="amazing" url="https://www.youtube.com/watch?v=EemoOviEC74" %} partners and sponsors. We couldn’t do it without them.</p>
  </div>

  <div class="unit first">
    <h2 class="heading-two sponsors">Co-Presenters:</h2>
    <ul>
      <li><a href="https://artmetropole.com/" rel="noopener" target="_blank">Art Metropole</a></li>
      <li><a href="http://interaccess.org/" rel="noopener" target="_blank">InterAccess</a></li>
      <li><a href="https://gallery44.org/" rel="noopener" target="_blank" data-proofer-ignore>Gallery 44</a></li>
    </ul>
  </div>
  <div class="unit">
    <h2 class="heading-two sponsors">Sponsors:</h2>
    <ul>
      <li><a href="https://officebureau.ca/" rel="noopener" target="_blank">Office/Bureau</a></li>
      <li><a href="http://entro.com/" rel="noopener" target="_blank">Entro</a></li>
    </ul>
  </div>

  <div class="unit">
    <h2 class="heading-two sponsors">Media Partners:</h2>
    <ul>
      <li><a href="http://www.creativeapplications.net/" rel="noopener" target="_blank">Creative Applications Network</a></li>
      <li><a href="http://theadcc.ca/" rel="noopener" target="_blank">Advertising & Design Club of Canada</a></li>
      <li><a href="https://walkerart.org/" rel="noopener" target="_blank">Walker Art Center</a></li>
      <li><a href="https://www.creativereview.co.uk/" rel="noopener" target="_blank"><em>Creative Review</em></a></li>
    </ul>
  </div>
  </div>
</footer>
