<header class="header">
  <div class="container">
    <h1 class="heading-one">
      <span class="solid drop-cap">●</span> <a href="https://twitter.com/abz_co" rel="noopener" data-link-text="A-B-Z-TXT" target="_blank">A-B-Z-TXT</a> <a href="https://en.wikipedia.org/wiki/Enter_key" rel="noopener" data-link-text="returns" target="_blank">returns</a> to <a href="https://www.theglobeandmail.com/news/toronto/mayors-office-destroys-records-of-business-card-purchase/article4201962/" rel="noopener" data-link-text="Toronto" target="_blank">Toronto</a> :: from August 17–20, 2017 :: we bring you a texto-visual <a href="https://mandarinrestaurant.com" rel="noopener" data-link-text="buffet" target="_blank">buffet</a> that blends typography :: computation :: <a href="http://www.sweetheartsweetheart.com" rel="noopener" data-link-text="poetry" target="_blank">poetry</a> :: politics :: and :: the syntax of emoji.
    </h1>
  </div>
</header>
