{% assign speaker = include.speaker %}

<div class="speaker-unit">
  <header class="speak-unit-header">
    <h3 class="heading-two"><span class="solid">●</span> <span class="speaker-name" data-metaimage="
    {% assign searchimg = speaker.searchimg.size %}{% if searchimg %}
      {{ speaker.searchimg }}
    {% else %}
      {{ speaker.name }}
    {% endif %}
    ">{{ speaker.name }}</span></h3>
    <h3 class="heading-two"><span class="solid">●</span> {{ speaker.action}}</h3>
    {% if speaker.topic1 %}
      <h3 class="heading-two"><span class="solid">●</span> {{ speaker.topic1 }}</h3>
    {% endif %}
    {% if speaker.topic2 %}
      <h3 class="heading-two"><span class="solid">●</span> {{ speaker.topic2 }}</h3>
    {% endif %}
    <div class="speaker-unit-meta heading-two">
      {% if speaker.website %}
        <div class="unit">
          <span class="solid">●</span>
          <a class="website" href="{{ speaker.website }}" rel="noopener" data-link-text="{{ speaker.website | remove_first: "http://" }}" target="_blank">{{ speaker.website | remove_first: "http://" }}</a>
        </div>
      {% endif %}
      {% if speaker.twitter %}
        <div class="unit">
           <span class="solid">●</span>
           <a class="website" href="{{ speaker.twitter }}"  rel="noopener" data-link-text="@{{ speaker.twitter | remove_first: "https://twitter.com/" }}"  target="_blank">@{{ speaker.twitter | remove_first: "https://twitter.com/" }}</a>
        </div>
      {% endif %}
    </div>
  </header>
  <div class="speaker-unit-content content-three">
    {{ speaker.content }}
  </div>
</div>